<div class="fh5co-loader"></div>

<div id="page">
		<app-header></app-header>
	<aside id="fh5co-hero">
		<div class="flexslider">
			<ul class="slides">
				<li style="background-image: url(images/img_bg_4.jpg);">
					<div class="overlay-gradient"></div>
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2 text-center slider-text">
								<div class="slider-text-inner">
									<h1 class="heading-section">Our Course</h1>
									<h2>Brought to you by
										<a href="https://freschesolutions.com/" target="_blank">Fresche Solutions</a>
									</h2>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</aside>

	<div id="fh5co-course">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Our Course</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor
						eius.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url(images/project-1.png);">
						</a>
						<div class="desc">
							<h3>
								<a href="#">Angular JS &amp; Angular 4</a>
							</h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor
								eius molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							<span>
								<a href="#" class="btn btn-primary btn-sm btn-course" data-toggle="modal" data-target="#myModal">Take A Course</a>
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-12 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url(images/project-2.jpg);">
						</a>
						<div class="desc">
							<h3>
								<a href="#">Java &amp; Spring</a>
							</h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor
								eius molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							<span>
								<a href="#" class="btn btn-primary btn-sm btn-course">Take A Course</a>
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-12 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url(images/project-3.jpg);">
						</a>
						<div class="desc">
							<h3>
								<a href="#">Hibernate</a>
							</h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor
								eius molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							<span>
								<a href="#" class="btn btn-primary btn-sm btn-course">Take A Course</a>
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-12 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url(images/project-4.png);">
						</a>
						<div class="desc">
							<h3>
								<a href="#">HTML5 &amp; CSS3</a>
							</h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor
								eius molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							<span>
								<a href="#" class="btn btn-primary btn-sm btn-course">Take A Course</a>
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-12 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url(images/project-5.png);">
						</a>
						<div class="desc">
							<h3>
								<a href="#">RPG &amp; RPGLE</a>
							</h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor
								eius molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							<span>
								<a href="#" class="btn btn-primary btn-sm btn-course">Take A Course</a>
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-12 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url(images/project-6.jpg);">
						</a>
						<div class="desc">
							<h3>
								<a href="#">PLSQL &amp; Oracle</a>
							</h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor
								eius molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							<span>
								<a href="#" class="btn btn-primary btn-sm btn-course">Take A Course</a>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-register" style="background-image: url(images/img_bg_2.jpg);">
		<div class="overlay"></div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 animate-box">
				<div class="date-counter text-center">
					<h2>Get 400 of Online Courses for Free</h2>
					<h3>By Mike Smith</h3>
					<div class="simply-countdown simply-countdown-one"></div>
					<p>
						<strong>Limited Offer, Hurry Up!</strong>
					</p>
					<p>
						<a href="#" class="btn btn-primary btn-lg btn-reg">Register Now!</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<app-footer></app-footer>
</div>

<div class="gototop js-top">
	<a href="#" class="js-gotop">
		<i class="icon-arrow-up"></i>
	</a>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title text-center">Video Title</h4>
			</div>
			<div class="modal-body text-center">
				<!--<iframe width="320" height="240" src="images/movie.mp4">
		</iframe>-->
				<video width="320" height="340" controls>
					<source src="images/movie.mp4" type="video/mp4">
				</video>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>

<app-login></app-login>

<app-registration></app-registration>